html, body {
	height: 100%;
}

body {
	background-color: #F5DEB3;
	margin: 0;
}
#marca{
	display: flex;
	position: absolute;
  top: 0;
  left: 50;
  right: 50;
  margin: auto;
  text-align: center;
	color: #662000;
	margin: 20px 0;
	font-size: 48px;
	font-family: "";
}

.tabela-scroll {
	max-height: 200px; /* Altura máxima do div */
	overflow-y: auto; /* Adiciona barra de rolagem vertical */
  }

form , .divpilar{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 50%;
	height:94%;
	min-height: 300px;
	padding: 20px;
	background-color: #FFE4B5;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
}

input[type="submit"] {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	background-color: #8B4513;
	color: #fff;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	line-height: 1.5;
	width: 200px; 
}

input[type="submit"]:hover {
	background-color: #A0522D;
}

input[type="text"], input[type="password"] {
	display: block;
	padding: 10px;
	margin: 10px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

h2, .titulo {
	font-size: 24px;
	color: #8B4513;
	margin: 20px 0;
	font-family: "";
}

body.sucesso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 600px;
}

th {
  background-color: #754C29;
  color: #F7F4E9;
  font-weight: bold;
  padding: 10px;
}

td {
  background-color: #F7F4E9;
  color: #754C29;
  padding: 10px;
  text-align: center;
}

td:first-child {
  font-weight: bold;
}

.bodytabela {
  
  font-family: Arial, sans-serif;
  text-align: center;
}






